.new-post {
  position: fixed;
  background-color: #141c3a;
  height: 180px;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  width: 85vw;
  box-shadow: 0px 8px 8px #00000034;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-post__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.new-post__btn {
  height: 86px;
  width: 345px;
}

.new-post p {
  color: #ffffff;
  font: Bold 35px/47px 'Open Sans';
  margin: 0;
}